.DS_Store
.gradle
.idea/
.idea/**
db/**
journal/**
timeout_log/**
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
target
out
*.iml
*.ipr
*.iws
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
mods
